{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Censo Femama</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
</head>
<body>

<div class="sidenav">
    <img src="{% static 'img/femama_logo.png' %}" alt="Femama">
    <a href="#encontre" id="encontre">Encontre</a>
    <a href="#perfis" id="perfis">Perfis</a>
    <a href="#comunicacao" id="comunicacao">Comunicação</a>
    <a href="#pacientes" id="pacientes">Pacientes</a>
    <a href="#radar" id="radar">Radar</a>
    <a href="#censo" id="censo">Censo</a>
    <a href="#ong" id="ong">ONG</a>
</div>

<div class="main">
    <iframe
        src="{{iframeUrl}}"
        frameborder="0"
        width="1000"
        height="800"
        allowtransparency
    ></iframe>
</div>
</body>
<script>
    document.;
</script>
</html>